body{
    background-color:rgb(252, 185, 176);
    color: rgb(43, 0, 11);
    line-height: 1.6;
    margin:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#container{
    width:1100px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    background-color: rgb(250, 206, 206);
    text-align: center;
    padding: 20px;
    margin:0;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
h3{
  margin-top: 30px;
}
.section {
    margin-bottom: 40px;
}
p{
    font-size: 1.2em;
    background-color: rgb(255, 214, 228);
    padding: 15px;
    border-radius: 20px;
    border: 2px solid rgb(104, 104, 104);
}
.highlight {
    background-color: rgb(255, 200, 200);
}
.bold{
    font-weight:bold;
}
.underline {
    text-decoration: underline;
}
img-left {
    float: left;
    width: 40%;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.img-right {
    float:right;
    width:40%;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
img {
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

p {
    transition: transform 0.2s ease;
}

p:hover {
    transform: translateY(-5px);
}
.section::after {
    content: "";
    display: block;
    clear:both;
}
.section {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
a:link{
    font-weight: bold;
    color: purple;
    text-shadow: .5px .5px 0px black;
    text-decoration-line: none;
}
a:visited{
   color:gray;
}
a:hover{
    color:rgb(80, 0, 0);
    text-decoration-line: underline;
}
a:active{
    color: rgb(0, 0, 0);
}
.info {
    padding: 20px;
    margin-top:40px;
    border:2px dashed black;
    text-align: center;
}

/* 1200px */
@media (max-width: 1200px) {
    #container {
        width: 900px;
    }
}

/* 992px */
@media (max-width: 992px) {
    #container {
        width: 700px;
    }

    .img-left, .img-right {
        width: 50%;
    }
}

/* 768px (mobile) */
@media (max-width: 768px) {
    #container {
        width: 90%;
    }

    .img-left, .img-right {
        float: none;
        width: 100%;
        margin: 0 0 15px 0;
    }
}